.container-xxl {
	max-width: 1530px;
}

body {
	background-image: url('/img/i-like-food.svg');
	background-color: rgb(243, 243, 243);
}

a {
	color: var(--bs-dark);
}

/* Category card */
.category__link {
	text-align: center;
	display: block;
	text-decoration: none;
	transition: 250ms all;
}

.category__link:hover {
	transform: scale(1.1);
}

.category__img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-bottom: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	overflow: hidden;
	border-radius: 8px;
}

.category__img--large {
	height: 330px;
}

.category__img img {
	width: 100%;
	object-fit: cover;
}
