<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%= typeof title != 'undefined' ? title : 'Error - Web Blog' %>
		</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="container-xxl px-md-5 bg-white shadow-lg">
			<header
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
			>
				<a
					href="/api/v1/"
					class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
				>
					<img
						src="/img/logo.svg"
						width="229"
						height="68"
						alt="Cooking Blog - Made with Node.js"
					/>
				</a>

				<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
					<li>
						<a href="/api/v1/" class="nav-link px-2 link-secondary"> Home </a>
					</li>
					<li>
						<a href="/api/v1/about" class="nav-link px-2 link-secondary">
							About
						</a>
					</li>
					<li>
						<a href="/api/v1/submit-page" class="nav-link px-2 link-secondary">
							Submit
						</a>
					</li>
					<li>
						<a href="/api/v1/contact" class="nav-link px-2 link-secondary">
							Contact
						</a>
					</li>
				</ul>

				<ul
					class="nav col-12 col-lg-auto my-2 align-items-center justify-content-center my-md-0 text-small"
				></ul>
			</header>

			<main><%- body -%></main>

			<footer class="py-5 mt-4 border-top">
				<p>Build on <a href="https://nodejs.org/en/">Node.js</a></p>
			</footer>
		</div>

		<script src="/js/scripts.js"></script>
	</body>
</html>
