<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= typeof title != 'undefined' ? title: 'Web Blog'%></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<div class="container-xxl px-md-5 bg-white shadow-lg">
			<header
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
			>
				<a
					href="/api/v1/"
					class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
				>
					<img
						src="/img/logo.svg"
						width="229"
						height="68"
						alt="Cooking Blog - Made with Node.js"
					/>
				</a>

				<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
					<li>
						<a href="/api/v1/" class="nav-link px-2 link-secondary"> Home </a>
					</li>
					<li>
						<a href="/api/v1/about" class="nav-link px-2 link-secondary">
							About
						</a>
					</li>
					<li>
						<a href="/api/v1/submit-page" class="nav-link px-2 link-secondary">
							Submit
						</a>
					</li>
					<li>
						<a href="/api/v1/contact" class="nav-link px-2 link-secondary">
							Contact
						</a>
					</li>
				</ul>

				<ul
					class="nav col-12 col-lg-auto my-2 align-items-center justify-content-center my-md-0 text-small"
				>
					<li class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
						<form method="POST" action="/api/v1/search">
							<input
								type="search"
								name="searchTerm"
								class="form-control border border-black"
								placeholder="Search..."
								aria-label="Search"
							/>
						</form>
					</li>
					<li>
						<div class="dropdown text-end">
							<a
								href="#"
								class="d-block link-body-emphasis text-decoration-none dropdown-toggle show"
								data-bs-toggle="dropdown"
								aria-expanded="true"
							>
								<img
									class="mx-auto rounded-circle"
									src="<%= user ? '/img/avatar-user.svg' : '/img/account.svg' %>"
									width="40"
									height="40"
									alt="Cooking Blog Account"
								/>
							</a>
							<ul
								class="dropdown-menu text-small"
								style="
									position: absolute;
									inset: 0px auto auto 0px;
									margin: 0px;
									transform: translate(0px, 34px);
								"
								data-popper-placement="bottom-start"
							>
								<% if (!user) { %>
								<li>
									<a href="/api/v1/users/registration" class="dropdown-item">
										Sign Up
									</a>
								</li>
								<li>
									<a href="/api/v1/users/login" class="dropdown-item"
										>Sign In</a
									>
								</li>
								<% } else { %> <% if (user.role === 'ADMIN') { %>
								<li>
									<a href="/api/v1/admin" class="dropdown-item"> Admin Page </a>
								</li>
								<% } %>
								<li>
									<a href="/api/v1/users/my-recipes" class="dropdown-item"
										>My Recipes</a
									>
								</li>
								<li>
									<a href="/api/v1/users/logout" class="dropdown-item"
										>Logout</a
									>
								</li>
								<% } %>
							</ul>
						</div>
					</li>
				</ul>
			</header>

			<main><%- body -%></main>

			<footer class="py-5 border-top mt-4">
				<div
					class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5"
				>
					<!-- Copyright -->
					<div class="text-black mb-3 mb-md-0">
						Copyright © 2024. All rights reserved.
					</div>
					<!-- Copyright -->

					<!-- Right -->
					<div>
						<a href="#!" class="text-black me-4">
							<i class="fa-brands fa-vk"></i>
						</a>
						<a href="#!" class="text-black me-4">
							<i class="fa-brands fa-yandex"></i>
						</a>
						<a href="#!" class="text-black me-4">
							<i class="fa fa-google"></i>
						</a>
						<a href="#!" class="text-black">
							<i class="fa-brands fa-gitlab"></i>
						</a>
					</div>
					<!-- Right -->
				</div>
			</footer>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
		<script
			src="https://kit.fontawesome.com/393e1b9e6d.js"
			crossorigin="anonymous"
		></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>
