<div class="container mt-5">
	<h1>Admin Panel</h1>
	<div class="form-group">
		<label for="adminAction">Select Action:</label>
		<select id="adminAction" class="form-control">
			<option value="">-- Select Action --</option>
			<option value="add">Add Information</option>
			<option value="edit">Edit Information</option>
			<option value="delete">Delete Information</option>
		</select>
	</div>

	<div id="addSection" class="admin-section" style="display: none">
		<h2>Add Recipe</h2>
		<form id="addForm">
			<div class="form-group">
				<label for="recipeName">Recipe Name</label>
				<input type="text" id="recipeName" class="form-control" required />
			</div>
			<div class="form-group">
				<label for="recipeDescription">Recipe Description</label>
				<textarea
					id="recipeDescription"
					class="form-control"
					required
				></textarea>
			</div>
			<div class="form-group">
				<label for="recipeImage">Recipe Image</label>
				<input type="file" id="recipeImage" class="form-control" required />
			</div>
			<button type="submit" class="btn btn-primary">Add Recipe</button>
		</form>
	</div>

	<div id="editSection" class="admin-section" style="display: none">
		<h2>Edit Recipes</h2>
		<div id="editRecipesList">
			<!-- Dynamic list of recipes for editing -->
		</div>
	</div>

	<div id="deleteSection" class="admin-section" style="display: none">
		<h2>Delete Recipes</h2>
		<div id="deleteRecipesList">
			<!-- Dynamic list of recipes for deletion -->
		</div>
	</div>
</div>
