<!-- Login -->
<div id="login-layout" style="display: block">
	<div class="container py-5">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem">
					<div class="card-body p-5 text-left">
						<h3 class="mb-5">Sign in</h3>
						<form action="/api/v1/users/login" method="POST">
							<div class="form-outline mb-4">
								<input
									type="email"
									id="login-email"
									name="email"
									class="form-control form-control-lg"
								/>
								<label class="form-label" for="email">Email</label>
							</div>

							<div class="form-outline mb-4">
								<input
									type="password"
									id="login-password"
									name="password"
									class="form-control form-control-lg"
								/>
								<label class="form-label" for="password">Password</label>
							</div>

							<button class="btn btn-primary btn-lg btn-block" type="submit">
								Login
							</button>
						</form>

						<!-- Register button -->
						<div class="text-center my-4">
							<p>
								Not a member?
								<u id="toRegistrationBtn" style="cursor: pointer">Register</u>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Login -->

<!-- Registration -->
<div
	class="px-4 py-5 px-md-5 text-center text-lg-start"
	style="background-color: white; display: none"
	id="reg-layout"
>
	<div class="container">
		<div class="row gx-lg-5 align-items-center">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<h1 class="my-5 display-3 fw-bold ls-tight">
					The best recipes <br />
					<span class="text-success">for your home</span>
				</h1>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
					itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at
					cupiditate quis eum maiores libero veritatis? Dicta facilis sint
					aliquid ipsum atque?
				</p>
			</div>

			<div class="col-lg-6 mb-5 mb-lg-0">
				<div class="card" style="border-radius: 1rem">
					<div class="card-body py-5 px-md-5">
						<h3 class="mb-5">Sign up</h3>
						<form
							action="/api/v1/users/registration"
							enctype="multipart/form-data"
							method="POST"
						>
							<!-- 2 column grid layout with text inputs for the first and last names -->
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input
											type="text"
											id="firstName"
											name="firstName"
											class="form-control"
											required
										/>
										<label class="form-label" for="firstName">First name</label>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input
											type="text"
											id="lastName"
											name="lastName"
											class="form-control"
										/>
										<label class="form-label" for="lastName">Last name</label>
									</div>
								</div>
							</div>

							<!-- Email input -->
							<div class="form-outline mb-4">
								<input
									type="email"
									id="reg-email"
									class="form-control"
									name="email"
									required
								/>
								<label class="form-label" for="email">Email address</label>
							</div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input
									type="password"
									id="reg-password"
									name="password"
									class="form-control"
									required
								/>
								<label class="form-label" for="password">Password</label>
							</div>

							<div class="form-outline mb-4">
								<input
									type="password"
									id="passwordConfirmation"
									class="form-control"
									required
								/>
								<label class="form-label" for="passwordConfirmation"
									>Confirm password</label
								>
							</div>

							<!-- Error message -->
							<% if (typeof regError !== 'undefined' && regError !== null) { %>
							<div
								id="passwordMismatchMessage"
								class="text-danger mb-4"
								style="display: block"
							>
								<%= regError.message %>
							</div>
							<% } else { %>
							<div
								id="passwordMismatchMessage"
								class="text-danger mb-4"
								style="display: none"
							></div>
							<% } %>

							<!-- Submit button -->
							<button
								type="submit"
								id="registerButton"
								class="btn btn-primary btn-block mb-4"
							>
								Sign up
							</button>
						</form>

						<!-- Login button -->
						<div class="text-center">
							<p>
								Already a member?
								<u id="toLoginBtn" style="cursor: pointer">Login</u>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Registration -->
