<h2 class="pb-4">Explore categories</h2>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
		<% if(typeof categoryName !== 'undefined' && categoryName !== null) {%>
		<li class="breadcrumb-item"><a href="/api/v1/categories">Categories</a></li>
		<li class="breadcrumb-item active" aria-current="page">
			<%= categoryName %>
		</li>
		<% } else { %>
		<li class="breadcrumb-item active" aria-current="page">Categories</li>
		<% } %>
	</ol>
</nav>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
	<% if(typeof categories !== 'undefined' && categories.length > 0) { %> <%
	categories.forEach(category => { %>
	<a
		href="/api/v1/categories/<%- category.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img shadow">
			<img
				src="/img/<%- category.image %>"
				alt="<%- category.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%- category.name %></div>
	</a>
	<% }) %> <% } %>
</div>

<% if(typeof recipes !== 'undefined') {%>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	<% if(recipes.length > 0) { %> <% recipes.forEach((recipe, index) => { %>
	<a
		href="/api/v1/recipes/<%= recipe.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img category__img--large shadow">
			<img
				src="/uploads/<%= recipe.image %>"
				alt="<%= recipe.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%= recipe.name %></div>
	</a>
	<% }) %> <% } else { %>
	<p>No items found.</p>
	<% } %>
</div>
<% } %>
