<div class="container">
	<h1 class="my-4">Обратная связь</h1>
	<form action="/api/v1/feedback" method="POST">
		<div class="mb-3">
			<label for="name" class="form-label">Имя</label>
			<input type="text" class="form-control" id="name" name="name" required />
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input
				type="email"
				class="form-control"
				id="email"
				name="email"
				required
			/>
		</div>
		<div class="mb-3">
			<label for="message" class="form-label">Сообщение</label>
			<textarea
				class="form-control"
				id="message"
				name="message"
				rows="3"
				required
			></textarea>
		</div>
		<button type="submit" id="submitButton" class="btn btn-primary" disabled>
			Отправить
		</button>
	</form>

	<!-- Error message -->
	<% if (typeof reqError !== 'undefined' && reqError !== null) { %>
	<div class="text-danger mb-4" style="display: block">
		<%= reqError.message %>
	</div>
	<% } else if (typeof reqMessage !== 'undefined' && reqMessage !== null) { %>
	<div class="text-success mb-4 my-4" style="display: block">
		<%= reqMessage.message %>
	</div>
	<% } %>
</div>
