<h2 class="pb-4">Explore Random</h2>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	<% if(typeof randomRecipe !== 'undefined' && randomRecipe !== null) { %>
	<a
		href="/api/v1/recipes/<%= randomRecipe.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img category__img--large shadow">
			<img
				src="/uploads/<%= randomRecipe.image %>"
				alt="<%= randomRecipe.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%= randomRecipe.name %></div>
	</a>
	<% } else { %>
	<p>No items found.</p>
	<% } %>
</div>
