<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
	<div class="col-12 col-lg-6">
		<img
			src="/img/hero-image.png"
			width="607"
			height="510"
			class="d-block mx-lg-auto img-fluid"
			loading="lazy"
			alt="Cooking with Organico"
		/>
	</div>

	<div class="col-12 col-lg-6">
		<h1 class="display-5 fw-bold mb-3">Selection of delicious recipe ideas</h1>
		<p class="lead">
			Here is going to be some awesome description/information text about the
			blog you`re currently in.
		</p>
		<p id="infoBlock" class="lead" hidden="true">
			On our website you can find a variety of recipes, share your recipes, and
			use filtering to conveniently find the recipes you need.
		</p>

		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
			<a
				href="/api/v1/explore-latest"
				class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
				>Explore Latest</a
			>
			<a
				href="/api/v1/explore-random"
				class="btn btn-outline-secondary btn-lg px-4 me-md-2"
				>Show Random</a
			>
			<a
				id="infoBtn"
				class="btn btn-outline-secondary btn-lg px-4 me-md-2"
				style="cursor: pointer"
				>Show Info</a
			>
		</div>
	</div>
</div>

<!-- Categories: start -->

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
	<% if(typeof categories !== 'undefined' && categories.length > 0) { %> <%
	categories.forEach((category, index) => { %>
	<a
		href="/api/v1/categories/<%= category.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img shadow">
			<img
				src="/img/<%= category.image %>"
				alt="<%= category.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%= category.name %></div>
	</a>
	<% }) %> <% } %>

	<a href="/api/v1/categories" class="col text-center category__link">
		<div class="category__img shadow">
			<img src="/img/view-all.jpg" alt="View all categories" loading="lazy" />
		</div>
		<div class="pt-1">View all</div>
	</a>
</div>

<!-- Categories: end -->

<!-- Filter recipes: start -->

<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<div class="dropdown text-end">
			<a
				href="#"
				id="dropdown"
				class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle show"
				data-bs-toggle="dropdown"
				aria-expanded="true"
			>
				<h2 class="mx-auto">
					<spans id="filterHeader">Updated</spans> Recipes
				</h2>
			</a>
			<ul
				class="dropdown-menu text-small"
				style="
					position: absolute;
					inset: 0px auto auto 0px;
					margin: 0px;
					transform: translate(0px, 34px);
				"
				data-popper-placement="bottom-start"
			>
				<li>
					<a id="filterOldest" class="dropdown-item" style="cursor: pointer">
						Oldest
					</a>
				</li>
				<li>
					<a id="filterNewest" class="dropdown-item" style="cursor: pointer">
						Newest
					</a>
				</li>
				<li>
					<a id="filterAsc" class="dropdown-item" style="cursor: pointer">
						A-Z
					</a>
				</li>
				<li>
					<a id="filterDesc" class="dropdown-item" style="cursor: pointer">
						Z-A
					</a>
				</li>
			</ul>
		</div>

		<% if(typeof recipes.updated !== 'undefined' && recipes.updated.length >=
		limitNumber) { %>
		<a href="/api/v1/explore-latest" class="ms-auto">View More</a>
		<% } %>
	</div>

	<!-- Updated recipes: start -->

	<div id="default" , class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<% if(typeof recipes.updated !== 'undefined' && recipes.updated.length > 0)
		{ %> <% recipes.updated.forEach((recipe, index) => { %>
		<a
			href="/api/v1/recipes/<%= recipe.slug %>"
			class="col text-center category__link"
		>
			<div class="category__img category__img--large shadow">
				<img
					src="/uploads/<%= recipe.image %>"
					alt="<%= recipe.name %>"
					loading="lazy"
				/>
			</div>
			<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %> <% } else { %>
		<p>No items found.</p>
		<% } %>
	</div>

	<!-- Updated recipes: end -->

	<!-- Filtered recipes: start -->

	<% for (let key in filteredRecipes) { %>
	<div
		id="<%= key %>"
		class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"
		style="display: none"
	>
		<% if (filteredRecipes[key].length > 0) { %> <%
		filteredRecipes[key].forEach(recipe => { %>
		<a
			href="/api/v1/recipes/<%= recipe.slug %>"
			class="col text-center category__link"
		>
			<div class="category__img category__img--large shadow">
				<img
					src="/uploads/<%= recipe.image %>"
					alt="<%= recipe.name %>"
					loading="lazy"
				/>
			</div>
			<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %> <% } else { %>
		<p>No items found.</p>
		<% } %>
	</div>
	<% } %>

	<!-- Filtered recipes: start -->
</section>

<!-- Filter recipes: end -->

<!-- Thai: start -->
<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2>Thai Recipes</h2>
		<% if(recipes.thai.length >= limitNumber) { %>
		<a href="/api/v1/categories/thai-food" class="ms-auto">View More</a>
		<% } %>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<% if(typeof recipes.thai !== 'undefined' && recipes.thai.length > 0) { %>
		<% recipes.thai.forEach((recipe, index) => { %>
		<a
			href="/api/v1/recipes/<%= recipe.slug %>"
			class="col text-center category__link"
		>
			<div class="category__img category__img--large shadow">
				<img
					src="/uploads/<%= recipe.image %>"
					alt="<%= recipe.name %>"
					loading="lazy"
				/>
			</div>
			<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %> <% } else { %>
		<p>No items found.</p>
		<% } %>
	</div>
</section>
<!-- Thai: end -->

<!-- American: start -->
<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2>American Recipes</h2>
		<% if(recipes.american.length >= limitNumber) { %>
		<a href="/api/v1/categories/american-food" class="ms-auto">View More</a>
		<% } %>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<% if(typeof recipes.american !== 'undefined' && recipes.american.length >
		0) { %> <% recipes.american.forEach((recipe, index) => { %>
		<a
			href="/api/v1/recipes/<%= recipe.slug %>"
			class="col text-center category__link"
		>
			<div class="category__img category__img--large shadow">
				<img
					src="/uploads/<%= recipe.image %>"
					alt="<%= recipe.name %>"
					loading="lazy"
				/>
			</div>
			<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %> <% } else { %>
		<p>No items found.</p>
		<% } %>
	</div>
</section>
<!-- American: end -->

<!-- Chinese: start -->
<section class="pb-4 pt-4">
	<div class="d-flex mb-2 align-items-center">
		<h2>Chinese Recipes</h2>
		<% if(recipes.chinese.length >= limitNumber) { %>
		<a href="/api/v1/categories/chinese-food" class="ms-auto">View More</a>
		<% } %>
	</div>

	<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
		<% if(typeof recipes.chinese !== 'undefined' && recipes.chinese.length > 0)
		{ %> <% recipes.chinese.forEach((recipe, index) => { %>
		<a
			href="/api/v1/recipes/<%= recipe.slug %>"
			class="col text-center category__link"
		>
			<div class="category__img category__img--large shadow">
				<img
					src="/uploads/<%= recipe.image %>"
					alt="<%= recipe.name %>"
					loading="lazy"
				/>
			</div>
			<div class="pt-1"><%= recipe.name %></div>
		</a>
		<% }) %> <% } else { %>
		<p>No items found.</p>
		<% } %>
	</div>
</section>
<!-- Chinese: end -->

<!-- Submit: start -->
<section class="px-4 py-5 my-5 text-center">
	<img
		src="/img/publish-recipe.png"
		class="d-block mx-auto mb-4 img-fluid"
		alt="Publish your recipe for FREE today"
		width="566"
		height="208"
		loading="lazy"
	/>
	<h1 class="display-5 fw-bold">Publish your recipe for FREE today</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			Publish your recipe in front of some people for free.
		</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			<a href="/api/v1/submit-page" class="btn btn-primary btn-dark btn-lg"
				>Submit Recipe</a
			>
		</div>
	</div>
</section>

<!-- Submit: end -->
