<div class="container py-5">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card shadow-2-strong" style="border-radius: 1rem">
				<div class="card-body p-5 text-left">
					<h3 class="mb-5">Sign in</h3>
					<form action="/api/v1/users/login" method="POST">
						<div class="form-outline mb-4">
							<input
								type="email"
								id="email"
								name="email"
								class="form-control form-control-lg"
							/>
							<label class="form-label" for="email">Email</label>
						</div>

						<div class="form-outline mb-4">
							<input
								type="password"
								id="password"
								name="password"
								class="form-control form-control-lg"
							/>
							<label class="form-label" for="password">Password</label>
						</div>

						<button class="btn btn-primary btn-lg btn-block" type="submit">
							Login
						</button>
					</form>

					<!-- Register button -->
					<div class="text-center my-4">
						<p>
							Not a member? <a href="/api/v1/users/registration">Register</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
