<h2 class="pb-4">My Recipes</h2>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Profile</a></li>
		<li class="breadcrumb-item active" aria-current="page">Recipes</li>
	</ol>
</nav>

<% if(typeof recipes !== 'undefined') {%>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	<% if(recipes.length > 0) { %> <% recipes.forEach((recipe, index) => { %>
	<a
		href="/api/v1/recipes/<%= recipe.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img category__img--large shadow">
			<img
				src="/uploads/<%= recipe.image %>"
				alt="<%= recipe.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%= recipe.name %></div>
	</a>
	<% }) %> <% } else { %>
	<p>No items found.</p>
	<% } %>
</div>
<% } %>
