<!-- Jumbotron -->
<div
	class="px-4 py-5 px-md-5 text-center text-lg-start"
	style="background-color: white"
>
	<div class="container">
		<div class="row gx-lg-5 align-items-center">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<h1 class="my-5 display-3 fw-bold ls-tight">
					The best recipes <br />
					<span class="text-success">for your home</span>
				</h1>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
					itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at
					cupiditate quis eum maiores libero veritatis? Dicta facilis sint
					aliquid ipsum atque?
				</p>
			</div>

			<div class="col-lg-6 mb-5 mb-lg-0">
				<div class="card" style="border-radius: 1rem">
					<div class="card-body py-5 px-md-5">
						<h3 class="mb-5">Sign up</h3>
						<form
							action="/api/v1/users/registration"
							enctype="multipart/form-data"
							method="POST"
						>
							<!-- 2 column grid layout with text inputs for the first and last names -->
							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input
											type="text"
											id="firstName"
											name="firstName"
											class="form-control"
											required
										/>
										<label class="form-label" for="firstName">First name</label>
									</div>
								</div>
								<div class="col-md-6 mb-4">
									<div class="form-outline">
										<input
											type="text"
											id="lastName"
											name="lastName"
											class="form-control"
										/>
										<label class="form-label" for="lastName">Last name</label>
									</div>
								</div>
							</div>

							<!-- Email input -->
							<div class="form-outline mb-4">
								<input
									type="email"
									id="email"
									class="form-control"
									name="email"
									required
								/>
								<label class="form-label" for="email">Email address</label>
							</div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input
									type="password"
									id="password"
									name="password"
									class="form-control"
									required
								/>
								<label class="form-label" for="password">Password</label>
							</div>

							<div class="form-outline mb-4">
								<input
									type="password"
									id="passwordConfirmation"
									class="form-control"
									required
								/>
								<label class="form-label" for="passwordConfirmation"
									>Confirm password</label
								>
							</div>

							<!-- Error message -->
							<% if (typeof error !== 'undefined' && error !== null) { %>
							<div
								id="passwordMismatchMessage"
								class="text-danger mb-4"
								style="display: block"
							>
								<%= error %>
							</div>
							<% } else { %>
							<div
								id="passwordMismatchMessage"
								class="text-danger mb-4"
								style="display: none"
							></div>
							<% } %>

							<!-- Submit button -->
							<button
								type="submit"
								id="registerButton"
								class="btn btn-primary btn-block mb-4"
							>
								Sign up
							</button>
						</form>

						<!-- Login button -->
						<div class="text-center">
							<p>Already a member? <a href="/api/v1/users/login">Login</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Jumbotron -->
