<h2 class="pb-4">Search results for: <%= searchTerm %></h2>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
	<% if(typeof searchResult !== 'undefined' && searchResult.length > 0) { %> <%
	searchResult.forEach((recipe, index) => { %>
	<a
		href="/api/v1/recipes/<%= recipe.slug %>"
		class="col text-center category__link"
	>
		<div class="category__img category__img--large shadow">
			<img
				src="/uploads/<%= recipe.image %>"
				alt="<%= recipe.name %>"
				loading="lazy"
			/>
		</div>
		<div class="pt-1"><%= recipe.name %></div>
	</a>
	<% }) %> <% } else { %>
	<p>No items found.</p>
	<% } %>
</div>
