<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold">Submit Your Recipe</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead">
			Share your amazing recipes with thousands of web developers across the
			world. Fill our form to get started.
		</p>
	</div>
</div>

<div class="row justify-content-center">
	<% if(infoSubmitObj != '') { %>
	<div class="col-8 alert alert-success" role="alert"><%= infoSubmitObj %></div>
	<% } %> <% if(infoErrorsObj != '') { %>
	<div class="col-8 alert alert-danger" role="alert">
		<%= infoErrorsObj[0].message %>
	</div>
	<% } %>

	<div class="col-8">
		<form
			action="/api/v1/submit-page"
			enctype="multipart/form-data"
			method="POST"
		>
			<div class="row g-3">
				<div class="col-12">
					<label for="name" class="form-label">Recipe Name</label>
					<input
						type="text"
						name="name"
						id="name"
						class="form-control"
						required
					/>
				</div>

				<div class="col-12">
					<label for="description" class="form-label">Description</label>
					<textarea
						name="description"
						id="description"
						class="form-control"
						cols="30"
						rows="4"
					></textarea>
				</div>

				<div class="col-12">
					<label for="ingredients" class="form-label">Ingredients</label><br />
					<small>Example: 2 cloves of garlic</small>
					<div class="ingredientList">
						<div class="ingredientDiv mb-1">
							<input type="text" name="ingredients" class="form-control" />
						</div>
					</div>
				</div>

				<div
					class="warningDiv col-12 alert alert-warning"
					role="alert"
					style="display: none"
				>
					Required at least 1 ingredient
				</div>

				<div class="col-12">
					<button
						type="button"
						class="btn btn-outline-primary"
						id="addIngredientsBtn"
					>
						+
					</button>
					<button
						type="button"
						class="btn btn-outline-danger"
						id="removeIngredientsBtn"
					>
						-
					</button>
				</div>

				<div class="col-12">
					<label for="category">Select Category</label>
					<select
						class="form-select form-control"
						name="category"
						aria-label="Category"
					>
						<option selected>Select Category</option>
						<% if (categories !== 'undefined' && categories !== null) { %> <%
						categories.forEach(category => { %>
						<option value="<%= category.name %>"><%= category.name %></option>
						<% }) %> <% } else { %>
						<option value="none">Not found</option>
						<% } %>
					</select>
				</div>

				<div class="col-12">
					<label for="image">Product Image</label>
					<input
						type="file"
						class="form-control"
						name="image"
						accept="image/*"
					/>
				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Submit Recipe</button>
				</div>
			</div>
		</form>
	</div>
</div>
